@import './_variables.scss';

.message {
    position: absolute;
    z-index: 3;
    top: 30vh;
    left: 25%;
    width: 50%;
    height: 40vh;
    
    background-color: $cadmium-green;
    border: 2px solid $cadmium-green;

    h2 {
        width: 100%;
        color: $offWhite;
        margin: 45px auto;
        text-align: center;
    }
    p {
        width: 100%;
        margin: auto;
        text-align: center;
        color: $offWhite;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .btn {
            cursor: pointer;
            margin: 30px auto;
            padding: 8px 25px;
            width: 35%;
            font-size: 15px;
            
            background-color: $beige;
            border: 1px solid $beige;
        }
        
        .btn:active {
            transform: scale(.9);
        }

        a {
            color: $cadmium-green;
            text-decoration: none;
        }
    }
   
}


@media only screen and (max-width: 813px) {
    .message {
        h2 {
            font-size: 15px;
            margin: 20px auto;
        }
        p {
            font-size: 10px;
        }
        .buttons {
            .btn {
                margin: 10px auto;
                padding: 5px 20px;
                width: 40%;
                font-size: 8px;
            }
        }
    }

}
